<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="index.php" method="post">
    <input type="hidden" name="action" value="edit_message">
    <input type="hidden" name="id" value="<?=$_REQUEST['message_id']?>">
    <textarea name="message" placeholder="Повідомлення"/><?=$_REQUEST['user_message'] ?? ''?></textarea>
    <input type="submit" name="submit" value="Поміняти повідомлення">
</form>
<form action="index.php" method="post">
    <input type="hidden" name="action" value="main">
    <input type="submit" value="Повернутися" name="submit">
</form>
</body>
</html>