<form action="indasdex.php" method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="edit_message">
            <input type="hidden" name="id" value="<?=$data['message_id']?>">
            <textarea name="message" placeholder="Повідомлення"/><?=$data['user_message'] ?? ''?></textarea>
            <input type="file" name="fileToUpload[]" id="fileToUpload" multiple>
            <input type="submit" name="submit" value="Поміняти повідомлення">
</form>

<div><?=$data['user_images'] ?? ''?></div>

<form action="indasdex.php" method="post">
    <input type="hidden" name="action" value="default">
    <input type="submit" value="Повернутися" name="submit">
</form>