<div>Зміна вашого email</div>

<div>
  <form action="../index.php" method="post">
    <input type="hidden" name="action" value="change_email_confirm">
    <input type="text" class="form-control" name="current_email" placeholder="Введіть теперішній email"><br>
    <input type="text" class="form-control" name="new_email"  placeholder="Введіть новий email"><br>
    <input type="text" class="form-control" name="confirm_email"  placeholder="Підтвердіть новий email"><br>
    <p>
      <label>
        <input type="submit" name="submit" id="submit" value="Змінити">
      </label>
    </p>
  </form>
  
  <form action="../index.php" method="post"
  <p>
    <label>
      <input type="hidden" name="action" value="default">
      <input type="submit" name="submit" id="submit" value="Повернутися на головну сторінку">
    </label>
  </p>
  </form
</div>