<form action="index.php" method="post">
            <input type="hidden" name="action" value="edit_message">
            <input type="hidden" name="id" value="<?=$message_id?>">
            <textarea name="message" placeholder="Повідомлення"/><?=$user_message?></textarea>
            <div><?=edit_user_image()?></div>
            <input type="submit" name="submit" value="Поміняти повідомлення">
</form>

<form action="index.php" method="post">
    <input type="hidden" name="action" value="default">
    <input type="submit" value="Повернутися" name="submit">
</form>