
<div>
  <div>Зміна вашого пароля</div>
  <form action="../index.php" method="post">
      <input type="hidden" name="action" value="change_pass_confirm">
      <input type="text" class="form-control" name="current_pass" id="current_pass" placeholder="Введіть теперішній пароль"><br>
      <input type="text" class="form-control" name="new_pass" id="new_pass" placeholder="Введіть новий пароль"><br>
      <input type="text" class="form-control" name="confirm_pass" id="confirm_pass" placeholder="Підтвердіть новий пароль"><br>
      <p>
          <label>
              <input type="submit" name="submit" id="submit" value="Змінити">
          </label>
      </p>
  </form>
  
  <form action="../index.php" method="post"
      <p>
          <label>
              <input type="hidden" name="action" value="default">
              <input type="submit" name="submit" id="submit" value="Повернутися на головну сторінку">
          </label>
      </p>
  </form
</div>