
<div>
  <div>Зміна вашого логіну</div>
  <form action="../index.php" method="post">
    <input type="hidden" name="action" value="change_login_confirm">
    <input type="text" class="form-control" name="current_login" placeholder="Введіть теперішній логін"><br>
    <input type="text" class="form-control" name="new_login"  placeholder="Введіть новий логін"><br>
    <input type="text" class="form-control" name="confirm_login"  placeholder="Підтвердіть новий логін"><br>
    <p>
      <label>
        <input type="submit" name="submit" id="submit" value="Змінити">
      </label>
    </p>
  </form>
  
  <form action="../index.php" method="post"
  <p>
    <label>
      <input type="hidden" name="action" value="default">
      <input type="submit" name="submit" id="submit" value="Повернутися на головну сторінку">
    </label>
  </p>
  </form
</div>