
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div>Привіт <?=$user_name?></div>

    <form action="index.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="message">
        <textarea name="message" placeholder="Повідомлення"/></textarea>
        <p><input type="submit" value="Відправити"/></p>
    </form>


    <form action="../index.php" method="post" style="display: inline-block">
        <input type="hidden" name="action" value="logout">
        <input type="submit" name="submit" id="submit" value="Exit">
    </form><br>

    <div><?=get_messages_number($_SESSION['user']->getId())?>&nbsp;messages in total</div>
    <div>
        <div style="display: block">
            <div><?=$user_messages?></div>
        </div>
    </div>
    <?php for ($h = 1; $h <= get_pages_number($_SESSION['user']->getId()); $h++) : ?>
        <div>
            <div style="display: block">
                <form action="index.php" method="post">
                    <input type="hidden" name="page" value="<?=$h?>">
                    <p><input type="submit" value="page <?=$h?>"/></p>
                </form>
            </div>
        </div>
    <?php endfor; ?>

</body>
</html>
