<?php _template('_header'); ?>

<form action="../index.php" method="post" style="display: inline-block">
  <input type="hidden" name="action" value="change_user_data">
  <input type="submit" name="submit" id="submit" value="Зміна даних">
</form>

<div class="form_send_message">
  <form action='/index.php' method='post'>
    <input type='hidden' name='action' value='create_message'>
    <input type='submit' name='submit' value='Send message'>
  </form>
</div>

<div class="row">
  <div class="column first_column">
    <div class="header_first_column">Users</div>
    <div>
      <?php foreach (all_users() as $key => $user_login) :?>
        <div class="user_list">
          <?php if ($_GET['key'] == $key): ?>
            <div class="user_name chosen_user">
              <form action="/index.php" method="get">
                <a href="index.php?key=<?=$key?>"><?=$user_login?></a>
              </form>
            </div>
          <?php else: ?>
            <div class="user_name not_chosen_user">
              <form action="/index.php" method="get">
                <a href="index.php?key=<?=$key?>"><?=$user_login?></a>
              </form>
            </div>
          <?php endif; ?>
          
        </div>
      <?php endforeach; ?>
    </div>
  </div>
  
  
  <div class="column second_column">
<!--    <div>Total --><?php //=$render['messages_number']?><!-- messages</div>-->
      <div>
        <div class="second_column_content" style="display: block">
          <div><?=$render['page_header']?></div>
          
          <div>
            <?php if(is_array($render['message_list'])) foreach ($render['message_list'] as $message) : ?>
              
              <?php _template('one_message', $message)?>
            <?php endforeach; ?>
          </div>
        
        </div>
      </div>
      <div class="page">
        <?php for ($h = 1; $h <= $render['page_number']; $h++) : ?>
          <div>
            <div style="padding: 3px">
              <form action="../index.php" method="get">
                <input type="hidden" name="page" value="<?=$h?>">
                <input type="hidden" name="key" value="<?=$_REQUEST['key']?>">
                <p><input type="submit" value="page <?=$h?>"/></p>
              </form>
            </div>
          </div>
        <?php endfor; ?>
      </div>
  </div>
  
  
  <div class="column third_column" id="target">
    <div><?php _template('one_message_preview', $render['message_preview']);?></div>
  </div>
  
  
</div>


<?php _template('_footer');?>


