<div class="preview">
  <div class="message_preview"><?=$render['message']?></div>
  <div>
    <?php foreach (show_hashtags($_REQUEST['message_id']) as $hashtag) : ?>
      <div class="hashtag_for_preview"><?=$hashtag?></div>
    <?php endforeach;?>
  </div>
  <div>
    <?php if ((is_array($render['img']))) foreach ($render['img'] as $image) : ?>
        <img src="<?=$image?>" width="250" height="250">
    <?php endforeach;?>
  </div>
</div>


<?php //if (!empty(load_reply_messages($render['id']))) : ?>
<!--  -->
<!--  --><?php //foreach (load_reply_messages($render['id']) as $reply_message) :?>
<!--  -->
<!--  <div class="preview">-->
<!--    <div class="message_preview">--><?php //=$reply_message['message']?><!--</div>-->
<!--    <div>-->
<!--      --><?php //if ((is_array($reply_message['hashtags']))) foreach ($reply_message['hashtags'] as $hashtag) : ?>
<!--        <div class="hashtag_for_preview">--><?php //=$hashtag?><!--</div>-->
<!--      --><?php //endforeach;?>
<!--    </div>-->
<!--    <div>-->
<!--      --><?php //if ((is_array($reply_message['img']))) foreach ($reply_message['img'] as $image) : ?>
<!--        <img src="--><?php //=$image?><!--" width="100" height="100">-->
<!--      --><?php //endforeach;?>
<!--    </div>-->
<!--  </div>-->
<!--    -->
<!--    --><?php //if (!empty(load_reply_messages($reply_message['id']))) :?>
<!--      --><?php //foreach (load_reply_messages($reply_message['id']) as $test) :?>
<!--        <div>Yes</div>-->
<!--      --><?php //endforeach; ?>
<!--    --><?php //endif; ?>
<!--  -->
<!--  --><?php //endforeach;?>
<!--  -->
<?php //endif;?>


