

<div class="message-container">
  <div class="message">
    <div class="message_text"><?=$render['message']?></div>
    <div class="hashtags">
    <?php foreach (show_hashtags($render['id']) as $hashtag) : ?>
      <div class="hashtag"><?=$hashtag?></div>
    <?php endforeach;?>
    </div>
      <div>
        <?php if($render['image_src']): ?>
          <?php foreach ($render['image_src'] as $image) : ?>
            <img src="<?=$image?>" width="50" height="50">
          <?php endforeach;?>
        <?php endif; ?>
      </div>
    
    <a class='mycoollink' href="index.php?key=<?=$render['user_id']?>&message_id=<?=$render['id']?>">OLOLO</a>
  </div>
  
  <?php if ($_GET['key'] == $_SESSION['user']->getId()): ?>
  <div class="message-actions">
  <!--  <a href="?action=edit_user_message&message_id=--><?php //=$render['id']?><!--" class="edit">Edit link</a>-->
    <form action='/index.php' method='post'>
      <input type='hidden' name='action' value='edit_user_message'>
      <input type='hidden' name='message_id' value='<?=$render['id']?>'>
      <input type='hidden' name='edit_message' value='edit_message'>
      <input type='submit' name='submit' value='edit'>
    </form>
  </div>
    <div>
      <form action='/index.php' method='post'>
        <input type='hidden' name='action' value='edit_user_message'>
        <input type='hidden' name='reply_message_user_id' value="<?=$render['user_id']?>">
        <input type='hidden' name='message_id' value='<?=$render['id']?>'>
        <input type='submit' value='reply'>
      </form>
    </div>
  <?php endif;?>
</div>