<form action="index.php" method="post">
    <input type="hidden" name="action" value="register">
    <input type="text" class="form-control" name="login" id="login" placeholder="Введіть логін"><br>
    <input type="text" class="form-control" name="name" id="name" placeholder="Введіть ім'я"><br>
    <input type="text" class="form-control" name="pass" id="pass" placeholder="Введіть пароль"><br>
    <p>
        <label>
            <input type="submit" name="submit" id="submit" value="Відправити">
        </label>
    </p>
</form