<form action="indasdex.php" method="post">
    <select name="picture_name">
        <?php $all_images = select_unique_images() ?>
        <?php foreach ($all_images as $image) : ?>
            <option value="<?=$image?>"><?=basename($image)?></option>
        <?php endforeach; ?>
    </select>
    <input type="hidden" name="action" value="show_select_pictures">
    <input type="submit" value="Показати картинку">
</form>

<form action="indasdex.php" method="post">
    <input type="hidden" name="action" value="default">
    <input type="submit" value="Повернутися" name="submit">
</form>

<div>
    <img src="<?=$picture?>">
</div>