<table class="OLOLO">
    <thead>
    <tr>
        <?php foreach ($table_header as $cell) : ?>
        <th>
            <?=$cell == '-' ? '-=-' : $cell;?>
        </th>
        <?php endforeach; ?>
    </tr>
    </thead>
    <tbody class="TBODY">

    <?php foreach ($table_rows as $table_row) : ?>
    <tr>
        <?php foreach ($table_row as $cell) : ?>
            <td>
                <?=$cell == '-' ? '-=-' : $cell;?>
            </td>
        <?php endforeach; ?>
    </tr>
    <?php endforeach; ?>


    </tbody>
</table>