
body {
    background-color: #00bcd440;
}

.user_message {
    padding: 5px;
}

.user_img {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

.user_img img {
    max-width: 100%; height:auto;
    border: solid 2px;
}

.user_message_field {
    background-color: #ffeb3b33;
}