
body {
    background-color: #00bcd440;
}

.column {
    float: left;
    width: 33.33%;
    border: red 1px;
    align-content: center;
    border-style: dotted;
}

.row {
    display: flex;
}

.message {
    border: solid 1px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.header_first_column {
    text-align: center;
    font-weight: bold;
}

.third_column {
    text-align: center;
}

.page {
    display: flex;
    flex-wrap: wrap;
}